<?xml version='1.0' encoding='UTF-8'?>
<widget>
  <widgetname>Motu</widgetname>
  <description>Motu notepad and programming environment</description>
  <width>700</width>
  <height>500</height>
  <author>
    <name>Charles Childers</name>
    <email>charles.childers@gmail.com.com</email>
    <link>http://charleschilders.com</link>
    <organization>ForthWorks</organization>
  </author>
  <id>
    <host>charleschilders.com</host>
    <name>Motu</name>
    <revised>2009-01</revised>
  </id>
</widget>
